* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    
}

body{
    background-color: #241007;
}

header{
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    background-color: #DBA94A;

}

nav ul {
    display: flex;
    text-decoration: none;
    gap: 1.5rem;
    list-style-type: none;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover{    
    color: white;    
}

header img {
    width: 450px;
    height: 150px;
}

footer {
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: center;
    background-color: #331D10;

}

footer p {
    color: white;
}

.content {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;


}

.dunel {
    background-color: #C3AE5B;
    width: 40%;
    height: 100%;
    margin-right: 10px;
    text-align: center;
    align-items: center;

}

.dunel img {
    width: 70%;
    height: 70%;
    margin-top: 20px;
}

.duner {
    background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;
    display: flex;
}

.duner img {
    width: 45%;
    height: 65%;
    justify-content: center;
    align-items: center;
    
}

.texto {
    width: 70%;
    justify-content: center;
    text-align: center;
    color: white;
}

.img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img {
    width: 60%;
    height: 40%;
}
